body {
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}
#controller {
	width: 100vw; /* Fallback */
	width: 100lvw;
	height: 100vh; /* Fallback */
	height: 100lvh;
	border: 3px solid var(--cyan-light);
	box-sizing: border-box;
	box-shadow: 0 0 15px var(--cyan-dark);
	background-color: var(--black);
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.control-element {
	position: absolute;
	border: none;
	box-sizing: border-box;
	padding: 10px;
	user-select: none;
	transform-origin: center center;
}
.edit-mode .control-element {
	cursor: move;
	border: 2px solid var(--cyan-dark);
}
.resize-handle {
	font-size: 12px;
	padding: 0 5%;
	background: var(--black);
	border: 1px solid var(--cyan-light);
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
	display: none;
}
.rotate-handle {
	font-size: 12px;
	padding: 0 5%;
	border: 1px solid var(--cyan-light);
	background: var(--black);
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
	cursor: grab;
	display: none;
}
.edit-mode .resize-handle,
.edit-mode .rotate-handle {
	display: block;
}
.joystick {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background: var(--black);
	border: 3px solid var(--cyan-light);
	position: relative;
	box-shadow: 0 0 15px var(--cyan-dark);
}
.joystick-handle {
	width: 40%;
	height: 40%;
	background: var(--cyan-dark);
	border: 3px solid var(--cyan-light);
	box-shadow: 0 0 15px var(--cyan-dark);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.always-visible-slider-element, .slider-element {
	max-height: fit-content;
}
.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	border-radius: 25px;
	background-color: var(--black);
	box-shadow: 0 0 15px var(--cyan-dark);
	border: 3px solid var(--cyan-light);
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px; /* Thumb width */
	height: 20px; /* Thumb height */
	border: 3px solid var(--cyan-light);
	border-radius: 50%;
	background-color: var(--cyan-dark);
	box-shadow: 0 0 15px var(--cyan-light);
	cursor: pointer; /* Cursor change on hover */
}
.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
	cursor: pointer;
}
.slider::-ms-thumb {
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
	cursor: pointer;
}
.button-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.control-button {
	padding: 10px;
	min-width: 80px;
	min-height: 40px;
	font-size: 16px;
	width: 100%;
	height: 100%;
	touch-action: manipulation;
}
.control-panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.control-panel > * {
	flex: 1;
}
.mode-toggle {
	width: auto;
	height: auto;
	padding: 10px 20px; /* Adjust as needed for size */
}
.footer-spacer {
	height: 30vh;
}
#inputType {
	text-align: center;
}
