main {
	all: unset;
}

body {
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

#controls-container {
	height: fit-content;
	min-width: max(100vw, 100lvw);
	min-height: max(100vh, 100lvh);
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
}

#controller {
	flex-grow: 1; /* Allows the controller to take up the remaining space */
	border: 3px solid var(--cyan-light);
	box-sizing: border-box;
	box-shadow: 0 0 15px var(--cyan-dark);
	background-color: var(--black);
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	min-height: 500px; /* Optional: Ensures a minimum height */
	width: 100%; /* Ensures it doesn't exceed the container's width */
}

.control-element {
	max-height: fit-content;
	min-width: fit-content;
	min-height: fit-content;
	position: absolute;
	border: none;
	box-sizing: border-box;
	padding: 10px;
	user-select: none;
	transform-origin: center center;
}
.edit-mode .control-element {
	cursor: move;
	border: 2px solid var(--cyan-dark);
}

.resize-handle {
	font-size: 12px;
	padding: 0 5%;
	background: var(--black);
	border: 1px solid var(--cyan-light);
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
	display: none;
}
.rotate-handle {
	font-size: 12px;
	padding: 0 5%;
	border: 1px solid var(--cyan-light);
	background: var(--black);
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
	cursor: grab;
	display: none;
}

.pencil {
	z-index: 1000;
	border: 1px solid var(--cyan-light);
	height: 1em;
	width: 1em;
	background-image: url('../img/pencil.svg');
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	box-shadow: none;
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}

.edit-mode .resize-handle,
.edit-mode .rotate-handle,
.edit-mode .pencil {
	display: block;
}

.joystick {
	min-width: 100px;
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: 3px solid var(--cyan-light);
	position: relative;
	box-shadow: 0 0 15px var(--cyan-dark);
}
.joystick-handle {
	width: 40%;
	height: 40%;
	background: var(--cyan-dark);
	border: 3px solid var(--cyan-light);
	box-shadow: 0 0 15px var(--cyan-dark);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 255px;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	border-radius: 25px;
	background-color: var(--black);
	box-shadow: 0 0 15px var(--cyan-dark);
	border: 3px solid var(--cyan-light);
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2em; /* Thumb width */
	aspect-ratio: 1/1;
	border: 3px solid var(--cyan-light);
	border-radius: 50%;
	background-color: var(--cyan-dark);
	background-image: url("../img/star.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 15px var(--cyan-light);
	cursor: pointer; /* Cursor change on hover */
	margin: 5px;
}
.slider::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2em; /* Thumb width */
	aspect-ratio: 1/1;
	border: 3px solid var(--cyan-light);
	border-radius: 50%;
	background-color: var(--cyan-dark);
	background-image: url("../img/star.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 15px var(--cyan-light);
	cursor: pointer; /* Cursor change on hover */
	margin: 5px;
}
.slider::-ms-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2em; /* Thumb width */
	aspect-ratio: 1/1;
	border: 3px solid var(--cyan-light);
	border-radius: 50%;
	background-color: var(--cyan-dark);
	background-image: url("../img/star.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 15px var(--cyan-light);
	cursor: pointer; /* Cursor change on hover */
	margin: 5px;
}
.button-container {
	min-width: 100px;
	min-height: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.control-button {
	padding: 10px;
	min-width: 80px;
	min-height: 40px;
	font-size: 16px;
	width: 100%;
	height: 100%;
	touch-action: manipulation;
}
.control-panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 0;
	border-bottom: none;
}
.control-panel > * {
	flex: 1;
}
.footer-spacer {
	height: 30vh;
}
#inputType {
	text-align: center;
}

#controlsDetails[open] summary::before {
	content: "Hide Controls";
}
#controlsDetails:not([open]) summary::before {
	content: "Show Controls";
}


#fullscreenToggler {
	display: none;
}
#fullscreenToggler:checked + label::before {
	content: "Exit";
}
#fullscreenToggler + label::before {
	content: "Fullscreen";
}

#battery {
	width: 100%;
	aspect-ratio: 2/1;
	border: 3px solid var(--cyan-light);
	box-shadow: 0 0 15px var(--cyan-dark);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--black);
	font-weight: bold;
	font-size: 2em;
}
#battery-pos-terminal {
	width: 20px;
	height: 30%;
	width: 10%;
	background: var(--cyan-light);
	box-shadow: 0 0 15px var(--cyan-dark);
}

details.clickable > summary {
	margin: 0;
}
#controls-container .btn {
	margin: 0;
}
