ol {
	color: var(--cyan-light);
	padding-left: 2rem;
	margin: 1.5rem 0;
}

li {
	margin: 0.75rem 0;
	padding-left: 0.5rem;
	border-left: 3px solid var(--cyan-dark);
}

strong {
	color: var(--cyan-light);
	font-weight: 700;
}

.formSubmitButton {
	margin-bottom: 3%;
}

#form-message {
	display: none;
	margin: 30px auto 0;
	font-size: 1em;
	color: var(--red-warning);
}

.passwordRequirements {
	width: 80%;
	margin: 10px auto;
}

#restartButton {
	display: none;
	margin: 3% auto 0;
}
